/* Estilos generales */
* {
    margin: 0;
    padding: 0;

}

.destacado {
    font-size: 1.2rem;
    font-weight: 400;
    width: 80%;
    color: #ffffff;
    margin-top: 10px;

}

h1 {
    font-size: 2rem;
    color: rgb(69, 115, 196);
    font-weight: 200;
}

h2 {
    font-size: 2.5rem;
    color: #fed193;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}


h3 {
    font-size: 1rem;
    color: #4573c4;
    align-content: center;
    margin-bottom: 0;
}

p {
    font-size: 1rem;
    color: #2e2e2e;
}

/* Estilos body */

body {
    width: 100%;
    height: 100vh;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background-color: rgb(255, 255, 255);

}




/* Estilos header */
header {
    height: 15%;
    

}


nav {
       

}

nav ul {

}

nav ul li {
    width: 100px;
    border: 2px solid #6ea3ff;
    text-align: center;
    border-radius: 8px;
    background-color: #4573c4;    
    font-size: 1rem;
    padding: 4px 6px 4px 6px;
    margin: 6px;
    list-style-type: none;
}

li:hover {
    background-color: #3a7ef4;
    box-shadow: 20 #2e2e2e;
    transition: background-color 0.5s;
    transform: scale(1.1, 1.1);
    transition: 0.8s ease-out;

}

li:active {
    background-color: #abcafe;

}

a {
    text-decoration: none;
    color: white;

}


/* Estilos main */
main {
    height: 80vh;
    width: auto;
    
    background-image: url("../imagenes/404.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
    

    


/* Estilos footer */
.footer {
    height: 8vh;


}

#foot {
    height: 100%;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 992px) {
    header {
        height: 15vh;
    }

    

    h1 {
        font-size: 1.5rem;
        color: rgb(69, 115, 196);
        font-weight: 200;
    }

    h2 {
        font-size: 1.5rem;
        color: #ffe4b2;
    }

    h3 {
        font-size: 0.8rem;
        color: #4573c4;
        align-content: center;
    }

    p {
        font-size: 1rem;
        color: #2e2e2e;
    }

    

}


@media screen and (max-width: 480px) {}