@import "../utilidades/variables";

// Generales

h1 {
    font-size: 2rem;
    color: rgb(69, 115, 196);
    font-weight: 200;
}

h2 {
    font-size: 2.5rem;
    color: #7b7b7b;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

h3 {
    font-size: 1rem;
    color: #4573c4;
    align-content: center;
    margin-bottom: 0;
}

h4 {
    font-size: 1rem;
    color: #2e2e2e;
    align-content: center;
    margin-bottom: 0;
}
h5 {
    font-size: 2.5rem;
    color: #fed193;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

p {
    font-size: 1rem;
    color: #2e2e2e;
}

/* Estilos body */

body {
    width: 100%;
    height: 100vh;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background-color: rgb(255, 255, 255);

}



/* Estilos header */
header {
    height: 15%;
}

nav ul li { @include botones-st;
}

li:hover {@include hover

}

li:active {@include active
}

a {@include a
   
}












// Media screen

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 992px) {
    header {
        height: 15vh;
    }

    }

    h1 {
        font-size: 1.25rem;
        color: rgb(69, 115, 196);
        font-weight: 200;
    }

  
   



